body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.title {
    margin: 0; font-size: 24px; 
}

form { 
    margin-bottom: 20px;
    margin-top:20px;
}

.form__input { 
    padding: 10px; margin-right: 10px; border: 1px solid #ccc;
}

.form__button,
.button__save-all,
.button__delete-all {
    padding: 10px; border: none; background-color: #4CAF50; color: white; cursor: pointer; 
}

.button__save-all{
    margin-right:10px;
}
.container { 
    width: 300px; 
}

.lists { 
    list-style: none; padding: 0; 
}

.list { 
    display: flex; align-items: center; margin-bottom: 10px; 
}

.list__button { 
    padding: 5px 10px; margin-left: 10px; border: none; background-color: #f44336; color: white; cursor: pointer; 
}

.title__hint { 
    margin: 0; font-style: italic; color: #999; 
}

.select{
    width:200px;
    height:30px;
    margin-right:20px;
    margin-top:20px;
}

.progressbar {
    width:100%;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid rgb(30, 126, 252);
}

.progressbar_result{
    width:20%;
    background-color: rgb(6, 194, 251);
    height:20px;
    border-radius: 10px;
        
}

.input__search-wrapper{
    display:flex;
    align-items: center;
}

.input__search{
    height:25px;
}