@media screen and (max-width:1077px ){
    .slide-swiper-reviews{
        flex-direction:column;
    }
    
    .page__reviews{
        padding-top:80px;
        padding-bottom:80px; 
    }
    .reviews__container--title{
        padding:50px;
    }

    .slide-swiper-reviews__picture{
        margin-bottom:25px;
    }

    .swiper-reviews__pagination .swiper-pagination{
        position:relative;
        bottom:0;
        justify-content: flex-end;
        padding-top:35px;
        transform: translate(0px,0px);
    }

    .slide-swiper-reviews__text{
        max-width:100%; 
        text-align:center;
    }
}

@media screen and (max-width:991px ){
    .store__guitars{
        display:flex;
        flex-wrap:wrap;
    }
    
    .store__guitar--third{
        margin:0 auto;
    }

    .store__guitar--sixth{
        margin:0 auto;
    }
    
    .categories__items{
        display:grid;
        grid-template-columns: 220px 220px ;
        grid-template-rows: 220px 220px;
        row-gap:70px;
        column-gap:70px;
        margin: 0 22%;
    }

    .brands__items{
        row-gap:50px;
        grid-template-columns: repeat(3,auto);
    }

    .why__items{
        grid-template-columns: repeat(2,auto);
    }

    .page__favorite{
        padding-bottom:60px;
    }

    .favorite__container{
        flex-direction:column;
    }

    .favorite__body--title{
        text-align:center;
    }

    .favorite__apps{
        justify-content: center;
    }

    .footer__body{
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .footer__column:first-child{
        flex: 1 1 100%;
    }

    .footer__column_full{
        flex: 0 1 50%;
    }

    .footer__menu{
        display:flex;
        gap:50px;
        justify-content: space-between;
    }
}

@media screen and (max-width:767px ){
    .why__items{
        grid-template-columns: repeat(1,auto);
        justify-content:stretch;
    }
    
    .why__item{
        padding:10px;
    }

    .why__item--text{
        max-width:100%;
    }

    .reviews__container--title{
        font-size: 34px;
    }

    .slide-swiper-reviews__text{
        font-size:20px;
    }

    .slide-swiper-reviews__name{
        font-size:20px;
    }
}

@media (max-width:625px){
    .header__menu{
        gap:45px;
    }

    .main__content{
        padding-top:180px;
    }
}

@media (max-width:560px){
    .store__guitars{
        display:flex;
        flex-wrap:wrap;
    }
    
    [class*="__guitar"]{
        margin:0 auto;
    }

    .categories__items{
        display:grid;
        grid-template-columns: 220px 220px ;
        grid-template-columns: 220px 220px;
        row-gap:70px;
        column-gap:70px;
        margin:0 auto;
    }

    .brands__items{
        grid-template-columns: repeat(2,auto);
        row-gap:20px;
        justify-content: center;
        column-gap:30px; 
    }

    .slide-swiper-reviews__image{
        height:270px;
        width:270px;
    }

    .slide-swiper-reviews__image::before{
        left:-64px;
    }

    .favorite__body--title{
        font-size:34px;
    }
}

@media (max-width:511px){
    .header__menu{
        gap:30px;
    }

    .main__content{
        padding-top:150px;
    }
}

@media (max-width:460px){
    .slide-swiper-reviews__image{
        width:240px;
        height:240px;
    }

    .slide-swiper-reviews__image::before{
        left:-64px;
        width:188px;
        height:145px;
    }

    .favorite__apps{
        gap:7px;
    }

    .favorite__apps--item img{
        width:180px;
    }

    .header__menu--logo{
        display:none;
    }
}

@media (max-width:304px){
    .slide-swiper-reviews__image{
        width:200px;
        height:200px;
    }

    .slide-swiper-reviews__image::before{
        display:none;
    }
}

