*, 
*::after, 
*::before{
    margin:0;
    padding:0;
    border:none;
    box-sizing:border-box;
}

html, body{
    height:100%;
    min-width:320px;
}

a{
    text-decoration:none;
}

li{
    list-style:none;
}

.wrapper{
    display:flex;
    flex-direction:column;
    min-height:100%;
    
    
}

[class*="__container"]{
    max-width:1230px;
    margin:0 auto;
    padding:0 15px;
}
/* Header */
.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:10;
}
.header__menu{
    display:flex;
    align-items:center;
    gap:156px;
    margin-top:62px;
}

.menu__list{
    display:flex;
    column-gap:56px;
    align-items:center;
   
}

.menu__item{
    Font-family: 'Poppins', sans-serif;
}
.menu__link{
    color: #12121266;
}
/* Main styles */

.main__content{
    
    padding-top:235px;
    margin-right:179px;
}
.main__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.main__title span{
    color: #FF6428;
}

.main__title:not(:last-child){
    margin-bottom:16px;
}

.main__text{
    max-width:398px;
    max-height:48px;
    font-family: 'Poppins', sans-serif;
    color: #666;
    font-size:16px;
    font-weight: 500;
}

.main__text:not(:last-child){
    margin-bottom:33px;
}

.main__action{
    display:flex;
    align-items:center;
}
.main__action__button{
    background-color: #FF6428;
    max-height:60px;
    max-width:192px;
    border:none;
    padding: 18px 48px;
    justify-content: center;
    align-items:center;
    display: inline-flex;
    border-radius:40px;
    color:white;
    cursor:pointer;
}

.main__action__icons{
    margin-left:40px;
    
}
.main__container{
    display:flex;
}
.main__decor{
    flex: 0 1 50%;
    
}

.main__image{
    position:relative;
    max-width:672px;
    margin-right: -120px;
    padding-bottom:97%;
}
.main__image img{
    object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.main__image::after{
    content: "";
    background: url("../img/decor.svg") 0 0 no-repeat;
    height:80px;
    width:80px;
    position:absolute;
    bottom:0;
    right:36%;
    transform:translate(0, 50%);
}

 /* Store Styles */

 .page__store{
    margin-top: 220px;
 }

 .store__title{
    font-size: 44px;
    font-family:'Open Sans', sans-serif;
    text-align:center;
 }

 .store__container span{
    color:#FF6428;
    
 }

 .store__top--first{
    display:flex;
    justify-content:space-between;
    padding-top:92px;
    flex-wrap: wrap;
 }

 .store__top--new{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.6px;
    font-weight:600;
    text-transform:uppercase;
 }

 [class*="--view"]{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color: #868686;
 }

 .store__guitars{
    display:flex;
    justify-content:space-between;
    padding-top:32px;
 }

 .store__guitars img{
    width:100%;
 }

 [class*="guitar--name"]{
    margin-top:40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:500;
    margin-bottom:5px;
    color:black;
 }

 [class*="guitar--price"]{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight:400;
    color: #666;
 }

 .store__top--second{
    display:flex;
    justify-content: space-between;
    padding-top:102px;
 }

 .store__top--selling{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.6px;
    font-weight:600;
    text-transform:uppercase;
 }

 /* Category Styles */
 .page__categories{
    padding-top:180px;
 }

 .categories__container--title{
    text-align:center;
    font-size: 44px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:80px;
 }

 .categories__container--title span{
    color:#FF6428;
 }

.categories__items{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:69px;
}

.categories__item--item-category{
    position:relative;
}

.item-category__title{
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:30px 20px;
    font-weight:600;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
}

.item-category__image{
    width:100%;
    height: 100%;
    object-fit:cover;
}

/* Brands Style */
.page__brands{
    padding-top:220px;
    padding-bottom:180px;
}

.brands__container--title{
    padding-bottom:96px;
    Font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-align:center;
}

.brands__container--title span{
    color:#FF6428;
}

.brands__items{
    display:grid;
    grid-template-columns: repeat(4,auto);
    align-items:center;
    justify-content:space-between;
    max-width:1020px;
    margin:0 auto;
    row-gap:80px;
    column-gap:20px;
}

.brands__item img{
    max-width:100%;
}

/* Why Styles */

.page__why{
    background-color: black;
}


.why__container--title{
    Font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    font-weight: 600;
    color:white;
    text-align:center;
    padding-top:93px;
    padding-bottom:75px;
}

.why__container--title span{
    color:#FF6428;
}

.why__item--title{
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 18px;
    font-weight: 600;
    text-transform:uppercase;
}

.why__item--text{
    color:#666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 230px;
}

.why__icon{
    background-color:#262626;
    border-radius:20px;
    width: 72px;
    height: 72px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.why__icon:not(:last-child){
    margin-bottom:40px;
}

.why__item--title:not(:last-child){
    margin-bottom:12px;
}

.why__items{
    display:grid;
    grid-template-columns: repeat(3,auto);
    justify-content:space-between;
    gap:30px;
}

.why__item{
    padding-bottom:94px;
    display:grid;
    justify-items:center;
    text-align:center;
    padding:40px;
}

/* Reviews Styles */
.page__reviews{
    padding-top:240px;
    padding-bottom:240px;
}

.reviews__container--title{
    font-family: 'Open Sans', sans-serif;
    font-size:44px;
    font-weight:600;
    padding-bottom:100px;
    text-align:center;
}

.reviews__container--title span{
    color:#FF6428;
}

.reviews__swiper {
    max-width: 1230px;
    height: 300px;
    
}

.slide-swiper-reviews{
    display:flex !important;
    column-gap:150px;
}

.slide-swiper-reviews__text{
    color:#666;
    font-family: 'Poppins', sans-serif;
    font-size:24px;
    font-weight:400;
    max-width:524px;
    width:100%;
}

.slide-swiper-reviews__text:not(:last-child){
    margin-bottom:56px;
}

.slide-swiper-reviews--name{
    font-family: 'Poppins', sans-serif;
    font-size:24px;
    font-weight:600;
}

.slide-swiper-reviews--name:not(:last-child){
    margin-bottom:8px;
}

.slide-swiper-reviews--position{
    color:#868686;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight:500;
    text-transform:uppercase;
}

.slide-swiper-reviews__image::before{
    content:"";
    position:absolute;
    width: 284.724px;
    height: 257.893px;
    background-color: #FF6428;
    top:50px;
    left:-70px;
    border-radius: 40px 0px 400px 400px;
    transform: rotate(-7.724deg);
}

.slide-swiper-reviews__picture{
    overflow:hidden;
    flex: 0 1 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.slide-swiper-reviews__image{
    width:320px;
    height:320px;
    position:relative;
}

.slide-swiper-reviews__image img{
   position:absolute;
   width: 100%;
   height:100%;
   border-radius:50%;
   top:0;
   left:0;
   object-fit:center;
}

.swiper-reviews__pagination{
    display:flex;
    justify-content:flex-end;
    transform: translate(0px, -8px) !important;
}

.swiper-reviews__pagination .swiper-pagination-bullet{
    border-radius: 20px;
    background: #C4C4C4;
    width: 10px;
    height: 16px;
    opacity:1;
    flex: 0 0 10px;
}

.swiper-reviews__pagination .swiper-pagination-bullet-active{
    border-radius: 20px;
    background: #FF6428;
    width: 10px;
    height: 16px;
    flex: 0 0 24px;
}

/* Favorite Styles */

.page__favorite{
    padding-bottom: 120px;
}
.favorite__body--title span{
    color:#FF6428;
}

.favorite__body--title{
    font-family: 'Open Sans', sans-serif;
    font-size:48px;
    font-weight:600;
    max-width: 484px;
}

.favorite__body--title:not(:last-child){
    margin-bottom:60px;
}

.favorite__container{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.favorite__apps{
    display:flex;
    gap:20px; 
    flex-wrap:wrap;    
}

.favorite__apps--item img{
    max-width:100%;
}

.favorite__image{
    flex: 0 1 50%;
}

.favorite__image img{
    max-width:100%;
}

/* Footer Styles */

.footer{
    background-color: #eee;
}

.footer__body{
    padding-top:80px;
    padding-bottom:60px;
    display:flex;
    gap:50px;
}

[class*="footer__list--"]{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}

.footer__list--email{
    background: url("../img/footer/email.svg") 0 0 no-repeat;
    padding-left:30px;
}

.footer__list--location{
    background: url("../img/footer/location.svg") 0 0 no-repeat;
    padding-left:30px;
}

.footer__list--item:not(:last-child){
    margin-bottom:20px;
}

.footer__body--logo:not(:last-child){
    margin-bottom:28px;
    display:inline-block;
}

.footer__column_full{
    flex: 1 1 auto;
}

.footer__menu{
    display:flex;
    gap:128px;
    justify-content: center;
}

.footer__menu__column--title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__menu--link{
    color:rgba(18, 18, 18, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.footer__menu--item:not(:last-child){
    margin-bottom:16px;
}

.footer__menu__column--title:not(:last-child){
    margin-bottom:20px;
}

.footer__icons{
    display:flex;
    gap:32px;
}

.footer__social--title{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.footer__copy{
    display:flex;
    justify-content:center;
    color: rgba(18, 18, 18, 0.60);
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:400;
}







 






