@media (max-width:1440px){
    [class*="__container"]{
        max-width:1270px;
    }
    
    .how__content{
        padding-right:104px;
    }

    .about__content{
        padding-left:40px;
    }

    .start__content{
        padding-right:48px;
    }

    .pricing__content{
        padding-left:71px;
    }

    .faq__content {
        padding-right: 20px;
    }
    
    .pricing__body{
        gap:16px;
    }

    .pricing__member--button{
        width: 336px;
    }

    .pricing__member--button__second{
        width: 336px;
    }

    .faq__content--image{
        width:480px;
        height:496px;
    }

    .footer__info__email:not(:last-child){
        margin-right:82px;
    }

    .footer__info__list:not(:last-child) {
        margin-right: 83px;
    }
}

@media (max-width:1024px){
    [class*="page__"]{
        padding-bottom:100px;
    }

    .how__content{
        padding:0;
    }

    .about__content{
        padding-left:40px;
    }

    .start__content{
        padding:0;
    }

    .pricing__content{
        padding-left:71px;
    }

    .pricing__body{
        gap:24px;
    }

    .faq__content {
        padding:0;
    }
    
    .pricing__member--description:not(:last-child) {
        margin-bottom: 30px;
    }

    .pricing__member{
        padding-left:17px;
        padding-right:10px;
    }

    .pricing__member--button{
        width: 224px;
        left:44px;
        bottom:22px;
    }

    .pricing__member--button__second{
        width: 224px;
        left:44px;
        bottom:22px;
    }

    .start__container--image{
        padding:0;
    }

    .faq__content--image{
        width:390px;
        height:403px;
    }

    .about__container--image{
        width:500px;
        height:432px;
    }

    .how__container--image{
        width:398px;
        height:600px;
    }

    .pricing__head--image{
        width:380px;
        height:404px;
    }

    .footer__container{
        justify-content: start;
    }

    .footer__subscribe{
        padding-right:100px;
    }

    .footer__info{
        flex-direction: column;
        flex-wrap:wrap;
        height:500px;
    }

    .footer__info__email{
        margin-bottom:40px; 
    }

    .footer__info__list{
        height:200px;
    }
}

@media (max-width:360px){
    [class*="--title"]{
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            letter-spacing: -1.4px;
    }

    [class*="--description"]{
        font-size:18px;
        font-weight:200;
    }

    .header{
        padding-bottom:20px;
    }

    .start__container{
        flex-direction: column;
    }

    .start__input--email {
        width: 156px;
    }

    .start__input--button {
        width: 170px;
    }

    .start__input:not(:last-child) {
        margin-bottom: 40px;
    }

    .start__container--image{
        width:330px;
        height:348px;
    }

    .start__payment{
        margin-bottom:40px;
    }

    .about__container{
        flex-wrap:wrap-reverse;
    }

    .about__content{
        padding:0;
    }

    .about__container--image{
        width: 370px;
        height: 320px;
    }

    .how__container{
        flex-direction: column;
    }

    .how__content--title{
        margin-bottom: 50px;
    }

    .how__paragraph:nth-child(1):before {
        transform: translate(-116px,1px);
    }

    .how__paragraph:nth-child(2):before {
        transform: translate(-116px,1px);
    }

    .how__paragraph:nth-child(3):before {
        transform: translate(-116px,1px);
    }

    .how__paragraph:nth-child(4):before {
        transform: translate(-116px,1px);
    }

    .how__paragraph--title{
        max-height:none;
    }

    .how__content{
        margin-bottom:20px;
    }

    .pricing__body{
        flex-direction: column;
    }

    .pricing__head{
        flex-wrap: wrap-reverse;
        margin-bottom:20px;
        padding:0;
    }

    .pricing__content{
        padding:0;
        align-items:flex-start;
        margin-bottom:40px;
    }

    [class*="pricing__content--"] {
        text-align: start;
    }
    
    .pricing__head--image{
        width: 280px;
        height: 298px;
    }

    .pricing__member{
        width:100%;
        padding-left:24px;
        padding-right:5px;
    }

    .pricing__body{
        gap:20px;
    }

    .faq__container{
        flex-direction: column;
    }

    .faq__content--description:not(:last-child){
        margin-bottom:40px;
    }
    
    .faq__question--name{
        display:flex;
        justify-content:space-between;
        max-height:65px;
    }

    .faq__question--name__icon--close {
        top: -76px;
        right: 0px;
    }

    .faq__content--image{
        width:325px;
        height:372px;
    }

    .footer__container{
        display:flex;
        height:910px;
    }

    .footer__subscribe{
        padding:0;
        position:relative;
    }

    .footer__subscribe--logo{
        width:52px;
        height:52px;
    }

    .footer__subscribe--copy{
        position:absolute;
        bottom:0;
        right:50px;
    }

    .footer__subscribe__input{
        position:absolute;
        bottom:0;
        padding-bottom:120px;
    }

    .footer__subscribe__input--email {
        width: 180px;
    }

    .footer__subscribe__input--button {
        width: 130px;
    }

    .footer__subscribe--stories{
        position:absolute;
        bottom:0;
        padding-bottom:200px;
        letter-spacing: 1px;
    }

    .footer__info{
        position:absolute;
        display:block;
    }

    .footer__info__email{
        display:flex;
        flex-direction: column;
        align-items:flex-end;
        position:relative;
        right:-118px;
        margin-right:0 !important;

    }

    .footer__info__list{
        padding-top:46px;
        padding-left:3px;
    }

    .footer__info__email--title{
        text-align: right;
    }

    .footer__socials{
        gap:40px;
    }
    
    .header__content{
        display:none;
    }

    .header__burger{
        display:block;
    }

    .header__menu{
        justify-content: space-between;
    }

    .header__burger__menu:target{
        display:flex;
        flex-direction: column;
    }
}