*, 
*::after, 
*::before{
    margin:0;
    padding:0;
    border:none;
    box-sizing:border-box;
}

html, body{
    height:100%;
    min-width:320px;
    font-family: 'Comic Neue';
}

a{
    text-decoration:none;
}

li{
    list-style:none;
}

.wrapper{
    display:flex;
    flex-direction:column;
    min-height:100%;
    background-color:#F0F0F0;
}

[class*="__container"]{
    max-width:1515px;
    margin: 0 auto;
    padding:0 15px;
}

/* Header Styles */

.header__container{
    max-width:2280px;
}

.header__menu{
    display:flex;
}

.header__list{
    display:flex;
    gap:40px;
    align-items:center;
}

.header{
    padding-top:36px;
    padding-bottom:120px;
}

.header__list--link{
    font-size: 18px;
    font-weight: 400;
    color:#151515;
}

.header__list--item{
    margin: 0 !important;
    padding:0 !important;
}

.header__list--faq{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color:#151515;
}

.header__list--faq::after{
    content:"s";
    text-transform: lowercase;
    position:absolute;
    font-size: 18px;
    font-weight: 400;
    color:#151515;
}
.header__list--link span{
    text-transform: uppercase;
}

.header__action{
    display:flex;
    gap:20px;
}

.header__action--login{
    background-color:#F0F0F0;
    width: 145px;
    height: 52px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor:pointer;
    font-family: 'Comic Neue', sans-serif;
}

.header__action--sign{
    background-color:black;
    color:white;
    width: 145px;
    height: 52px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor:pointer;
    font-family: 'Comic Neue', sans-serif;
}

.header__content{
    display:flex;
    justify-content: space-between;
    padding-left:40px;
    width:100%;
}

.header__burger{
    display:none;   
}

.header__burger__menu{
    display:none;
    position:fixed;
    top:0px;
    right:0px;
    text-align:center;
    width:200px;
    background-color:black;
    opacity:0.9;
    z-index:1;
    padding:5px;
    align-items:center;
}

.header__burger__menu__list{
    border-bottom: 1px solid white;
    width:150px;
}

.header__burger__menu__list--item{
    margin-bottom:0 !important;
    padding-left:0 !important;
    color:white;
}

.header__burger__menu__list--item:nth-child(4){
    text-transform: uppercase;
}

.header__burger__menu__list--item:nth-child(4):after{
    content:"s";
    position:absolute;
    left:118px;
    text-transform: lowercase;
}

.header__burger__menu--close{
    color:white;
    position:absolute;
    right:5px;
    top:0px;
    font-size:20px;
}

.header__burger__menu__action{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header__burger__menu__action--login{
    background-color:black;
    color:white;
    width: 100px;
    height: 25px;   
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor:pointer;
    font-family: 'Comic Neue', sans-serif;
}

.header__burger__menu__action--sign{
    background-color:black;
    color:white;
    width: 100px;
    height: 25px;   
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor:pointer;
    font-family: 'Comic Neue', sans-serif;
}

/* Start Styles */
.page__start{
    padding-bottom:200px;
}
.start__container{
    display:flex;
}

.start__content{
    padding-top:40px;
    padding-right:241px;
    padding-bottom:16px;
}

[class*="--title"]{
    font-size:60px;
    font-weight: 400;
    line-height: 80px;
}

.start__content--title{
    font-size:70px;
    font-weight: 400;
    line-height: 80px;
    max-width:721px;
    max-height:400px;
    letter-spacing: -4px;
}

.start__content--title:not(:last-child){
    margin-bottom:20px;
}

[class*="--description"]{
    font-size:18px;
    font-weight:400;
}

.start__content--description{
    max-width:565px;
    max-height:52px;
}

.start__content--description:not(:last-child){
    margin-bottom:40px;
}

.start__input{
    width: 478px;
    display:flex;
}

.start__input--email{
    width: 280px;
    height: 52px;
}

.start__input--email::placeholder{
    color:black;
    font-family: 'Comic Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left:20px;
}

.start__input--button{
    width: 198px;
    height: 52px;
    background-color: black;
    color:white;
    font-family: 'Comic Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor:pointer;
}

.start__input:not(:last-child){
    margin-bottom:80px;
}

.start__payment{
    display:flex;
    gap:32px;
}


/* About-us Styles */ 
.page__about{
    padding-bottom:200px;
}

.about__container{
    display:flex;
}

.about__content{
    display:flex;
    flex-direction:column;
    padding-left:188px;
}

[class*="--tag"]{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    border: 1px solid black;
    text-transform: uppercase;
    text-align:center;
}

.about__content--tag{
    max-width: 140px;
    max-height: 52px;
    text-align:center;
}

.about__content--tag:not(:last-child){
    margin-bottom:20px;
}


.about__content--title{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
    max-width:750px;
    max-height:184px; 
}

.about__content--title:not(:last-child){
    margin-bottom:44px;
}

.about__content--description{
    line-height: 26px;
}

.about__content--description:not(:last-child){
    margin-bottom:34px;
}

[class*="--item"]{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
    margin-bottom:24px;
    padding-left:38px;
}

.about__list--item::before{
    content:"";
    position:absolute;
    background-color:black;
    width:10px;
    height:10px;
    transform:translate(-33px,9px);
}

.about__container--image{
    width: 580px;
    height: 500px;
}

/* How Styles */
.page__how{
    padding-bottom:200px;
}

.how__container{
    display:flex;
}

.how__content{
    padding-right:346px;
}
.how__content--tag{
    max-width:155px;
    max-height: 36px;
}

.how__content--tag:not(:last-child){
    margin-bottom:20px;
}

.how__content--title{
    max-width:676px;
    letter-spacing: -4px;
}

.how__content--title{
    margin-bottom:104px;
}

.how__paragraph--title{
    font-size: 28px;
    letter-spacing: -1.4px;
    max-width:374px;
    max-height:50px;
}

.how__paragraph--title{
    margin-bottom:17px;
}

.how__paragraph{
    padding-left:128px;
}

.how__paragraph:not(:last-child){
    margin-bottom:48px;
}

.how__paragraph:nth-child(1):before{
    content:"";
    background-image: url('../img/how/icon1.svg') ;
    background-repeat: no-repeat;
    position:absolute;
    width:100px;
    height:100px;
    transform: translate(-116px,28px);
}

.how__paragraph:nth-child(2):before{
    content:"";
    background-image: url('../img/how/icon2.svg') ;
    background-repeat: no-repeat;
    position:absolute;
    width:100px;
    height:100px;
    transform: translate(-116px,28px);
}

.how__paragraph:nth-child(3):before{
    content:"";
    background-image: url('../img/how/icon3.svg') ;
    background-repeat: no-repeat;
    position:absolute;
    width:100px;
    height:100px;
    transform: translate(-116px,28px);
}

.how__paragraph:nth-child(4):before{
    content:"";
    background-image: url('../img/how/icon4.svg') ;
    background-repeat: no-repeat;
    position:absolute;
    width:100px;
    height:100px;
    transform: translate(-116px,28px);
}

.how__container--image{
    width: 490px;
    height: 700px;
}

/* Pricing Styles */
.page__pricing{
    padding-bottom:200px;
}

.pricing__head{
    display:flex;
    padding-bottom:60px;
}

.pricing__content--tag{
    width:103px;
    height:36px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.pricing__content--tag:not(:last-child){
    margin-bottom:20px;
}

.pricing__content--title:not(:last-child){
    margin-bottom:44px;
}

.pricing__body{
    display:flex;
    gap:102px;
}

.pricing__member:nth-child(2){
    background-color: black;
    color:white;
}

.pricing__member:nth-child(3){
    background-color: white;
}

.pricing__content{
    padding-left:303px;
    display:flex;
    flex-direction: column;
    align-items:end;
}

[class*="pricing__content--"]{
    text-align:right;
}

.pricing__member{
    flex-grow:1;    
    padding-left:40px;
    border:1px solid black;
    padding-top:52px;
    height: 644px;
    position:relative;
}

.pricing__member--price{
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
}

.pricing__member--price span{
    font-size: 80px;
    line-height: normal;
    letter-spacing: -4px;
}

.pricing__member--price span::before{
    content:"$";
    font-size: 20px;
    line-height: 28px;
    position:relative;
    top:-41px;
}

.pricing__member--price:not(:last-child){
    margin-bottom:32px;
}

.pricing__member--description:not(:last-child){
    margin-bottom:61px;
}

.pricing__list--item::before{
    content:"";
    position:absolute;
    background-color:black;
    width:10px;
    height:10px;
    transform:translate(-35px,9px);
}

.pricing__list__second--item::before{
    content:"";
    position:absolute;
    background-color:white;
    width:10px;
    height:10px;
    transform:translate(-35px,9px);
}

.pricing__member--button{
    width:356px;
    height:56px;
    background-color: black;
    color:white;
    cursor:pointer;
    position:absolute;
    bottom:48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-family:'Comic Neue',sans-serif;
    max-width:356px;
}


.pricing__member--button__second{
    width:356px;
    height:56px;
    cursor:pointer;
    position:absolute;
    bottom:48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-family:'Comic Neue',sans-serif;
}

/* FAQS Styles */
.page__faq{
    padding-bottom:200px;
}

.faq__container{
    display:flex;
}

.faq__content--tag{
    width: 76px;
    height: 36px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.faq__content--tag:not(:last-child){
    margin-bottom:20px;
}

.faq__content--title{
    letter-spacing: -3px;
}

.faq__content--title:not(:last-child){
    margin-bottom:32px;
}

.faq__content--description{
    max-width:532px;
}

.faq__content--description:not(:last-child){
    margin-bottom:80px;
}

.faq__content{
    padding-right:82px;
}

.faq__question--name{
    display:flex;
    justify-content:space-between;
    max-height:28px;
}

[class*="--name"]{
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
}

.faq__question--name:not(:last-child){
    margin-bottom:20px;
}

.faq__question--answer{
    padding-bottom:20px;
}

.faq__question{
    margin-bottom:20px;
    padding-bottom:20px;
}


.faq__question:first-child{
    padding-bottom: 0;
}

.faq__question--answer{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display:none;
    z-index:10;
}

.faq__question{
    border-bottom:1px solid black;  
}

.faq__question--answer:target{
    position:relative;
    display:block;
}

.faq__question--name__icon--close{
    position:absolute;
    top:-48px;
    right:0px;
}

/* Footer Styles */
.footer{
    background-color: black;
}

.footer__container{
    max-width:2280px;
    padding-top:40px;
    display:flex;
    justify-content: space-between;
}

.footer__subscribe--logo{
    margin-bottom:60px;
}

.footer__socials{
    display:flex;
    gap:45px;
    margin-bottom:40px;
}

.footer__subscribe--stories{
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    color:white;
    width:320px;
    padding-bottom:40px;
}

.footer__subscribe__input--email{
    width: 280px;
    height: 52px;
    background-color: black;
    border:1px solid white;
}

.footer__subscribe__input--email::placeholder{
    font-family:'Comic Neue', sans-serif;
    color:white;
    padding-left:20px;
    font-weight: 400;
    line-height: 26px;

}

.footer__subscribe__input--button{
    color:black;
    background-color: white;
    width: 176px;
    height: 52px; 
}

.footer__subscribe__input{
    padding-bottom:80px;
    display:flex;
}

.footer__subscribe--copy{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color:white;
    padding-bottom:54px;
}

.footer__info{
    color:white;
    display:flex;
}

.footer__info__email--title{
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    padding-bottom:18px;
}

.footer__info__email--item{
    color:white;
    padding:0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;  
}

.footer__info__email:not(:last-child){
    margin-right:122px;
}

.footer__info__list:not(:last-child){
    margin-right:123px;
}

.footer__info__list{
    display:flex;
    flex-direction: column;
    gap:14px;
}

.footer__info__list--item{
    padding:0;
    margin:0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}























