* {
    padding: 0;
    margin: 0;
}

.game {
    width: 600px;
    height: 200px;
    border: 1px solid #000000;
    margin: auto;
    top:100px;
    position:relative;
}

#dino {
    width: 70px;
    height: 70px;
    background-image: url(img/fa.png);
    background-size: auto 70px;
    position: relative; 
    top: 143px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 143px; 
    }
    30% {
        top: 115px;
    }
    50% {
        top: 70px;
    }
    80% {
        top: 115px;
    }
    100% {
        top: 143px;
    }
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 91px;
    left: 580px; 
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    animation: cactus-block 1.2s infinite linear;
}

@keyframes cactus-block {
    0% {
        left: 600px;
    }
    100% {
        left: -20px;
    }
}